/**
 * @file
 * Stylesheet for imagepin administration pages.
 */

table .imagepin {
  position: static !important;
}

.imagepin-widget-element-form-table tbody tr td:nth-child(1) {
  width: 5%;
}

.imagepin-widget-element-form-table tbody tr td:nth-child(2) {
  width: 70%;
}

.imagepin-widget-element-form-table tbody tr td:nth-child(3) {
  width: 25%;
}

.imagepin-draggable {
  z-index: 99;
}

.imagepin-positions {
  padding-top: 15px;
}
