/**
 * @file
 * Stylesheet for viewing imagepin widgets.
 */

.imagepin {
  display: block !important;
  position: absolute !important;
  right: auto;
  bottom: auto;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0px 0px 20px #888888;
  border-radius: 10px;
  z-index: 5;
}

.imagepin.imagepin-selected {
  background-color: #f98123;
}

.imagepin-widget {
  border-bottom: 3px solid transparent;
}

.imagepin-widget.imagepin-selected {
  border-bottom: 3px solid #f98123;
}

.imagepin-widget.imagepin-overlay {
  background-color: #fff;
  border: 2px solid #000;
  cursor: default;
}

.imagepin-widgets {
  display: block;
  position: static !important;
}

/**
 * Try to avoid a break of the layout before initialization.
 */
.imagepin-widgets:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.imagepin-widgets .imagepin-widget,
.imagepin-widget.imagepin-overlay {
  display: block;
  width: 140px;
  margin: 5px;
  padding: 5px;
  float: left;
}

.imagepin-widget-content p {
  margin: 5px 0px 5px 0px;
}
