<div{{ attributes }}>
    {% for widget in items %}
      <div{{ widget.attributes }}>
        <div{{ widget.pin_attributes }}>{{ widget.pin_content }}</div>
        <div{{ widget.content_attributes }}>{{ widget.content }}</div>
      </div>
    {% endfor %}
</div>
